<div class="rounded-md ring-2 ring-main-dark bg-off-white py-10 my-4 mx-10 flex flex-col lg:flex-row justify-start hover:drop-shadow-2xl transition-all hover:-translate-y-5">
    <div id="text-container" class="flex flex-col text-center lg:text-left lg:w-2/3 m-20 lg:my-auto">
        <h1 class="text-off-black lg:text-4xl lg:py-5 font-semibold text-2xl text-center lg:text-left">
            {{ content.title }}
        </h1>
        <p class="font-normal text-off-black lg:text-xl lg:py-5 text-lg text-center lg:text-left">
            {{ content.description }}
        </p>
    </div>
    <div id="image-container" class="w-1/2 m-auto lg:w-1/2 order-first lg:order-last"> <!-- Use the order property to change the order in lg view -->
    </div>
</div>
