<div class="mx-auto px-10 py-20 lg:px-40 bg-off-white dark:bg-dark-mode-one text-off-black dark:text-off-white">
    <h3 class="text-5xl font-black text-center mb-10">Ils Nous Font Confiance</h3>
    <p class=" text-lg my-10">
        Découvrez les leaders qui ont choisi Elite Council Consulting pour leur
        voyage vers l'innovation technologique. Leurs marques représentent la
        confiance en notre expertise et notre capacité à fournir des solutions
        exceptionnelles.
    </p>
    <div class="px-10 lg:px-40">
        <app-testimonial-slider></app-testimonial-slider>
    </div>
</div>

