<div
  class="sticky top-0 z-40 transition-all flex flex-row py-2 px-10 md:px-20 justify-between items-center bg-off-white dark:bg-dark-mode-one drop-shadow-md">
  <div class="flex flex-row items-center cursor-pointer" routerLink="">
    <img class="w-10 h-10" src="./../../../assets/ECC.png" alt="ECC" />
    <div class="hidden lg:flex items-center">
      <div class="bg-off-black w-[2px] h-8 mx-5 dark:bg-off-white"></div>
      <h2 class="text-lg font-semibold dark:text-off-white">Elite Council Consulting</h2>
    </div>
  </div>

  <div id="pc-navbar">
    <nav class="">
      <div class="flex items-center justify-between">
        <ul class="hidden  lg:flex space-x-4 lg:align-middle lg:justify-center items-center group">
          <li *ngFor="let link of links" class="relative group inline-block" (mouseenter)="link.isOpen = true"
            (mouseleave)="link.isOpen = false">

            <a *ngIf="!link.subLinks.length"
              class="text-off-black dark:text-off-white hover:text-main transition-all mx-2"
              [routerLink]="link.routerLink">
              {{ link.name }}
            </a>
            <a *ngIf="link.subLinks.length" 
              class="text-black cursor-pointer dark:text-off-white py-5 hover:text-main transition-all mx-2"
              (click)="toggleMobileDropdown(link)">
              {{ link.name }}
            </a>

            <div *ngIf="link.isOpen && link.subLinks.length"
              class="group bg-off-white dark:bg-dark-mode-two absolute text-white my-4 rounded-md transition-all min-w-[300px] left-1/2 transform -translate-x-1/2">
              <a *ngFor="let sublink of link.subLinks" [routerLink]="sublink.routerLink"
                (mouseenter)="sublink.isOpen=true"
                (mouseleave)="sublink.isOpen=false"
                class="text-off-black dark:text-off-white py-4 px-6 hover:bg-off-white-darker dark:hover:bg-dark-mode-one rounded-md group-hover:block"
                (click)="toggleSubDropdown(sublink)">
                {{ sublink.name }}
                <div *ngIf="sublink.isOpen && sublink.subLinks.length"
                  class="group bg-off-white dark:bg-dark-mode-two absolute text-white my-4 rounded-md transition-all min-w-[300px] left-full top-0">
                  <a *ngFor="let subsublink of sublink.subLinks" [routerLink]="subsublink.routerLink"
                    (mouseenter)="subsublink.isOpen=true" (mouseleave)="subsublink.isOpen=false"
                    class="text-off-black dark:text-off-white py-4 px-6 hover:bg-off-white-darker dark:hover:bg-dark-mode-one rounded-md group-hover:block"
                    (click)="toggleSubSubDropdown(subsublink)">
                    {{ subsublink.name }}
                  </a>
                </div>
              </a>

            </div>
          </li>

        </ul>
        <button class="lg:hidden text-black" (click)="toggleMobileMenu()">
          <svg id="burger-button" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
            stroke="currentColor" class="w-6 h-6 z-40 dark:stroke-off-white">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 9h16.5m-16.5 6.75h16.5" />
          </svg>
        </button>
      </div>
    </nav>
  </div>
  <div class=" flex-row items-center hidden lg:flex">
    <app-dark-mode-toggle class="mx-2"></app-dark-mode-toggle>
    <button class="btn-scnd py-2 mx-1" routerLink="Login">
      Se Connecter
    </button>
    <button class="btn-main py-2 mx-1" routerLink="Register">
      S'inscrire
    </button>
  </div>
</div>

<div id="phone-navbar" *ngIf="isMobileMenuOpen"
  class="z-50 fixed top-0 right-0 w-2/3 h-screen bg-off-white dark:bg-dark-mode-one drop-shadow-lg text-off-black py-6 flex flex-col lg:hidden">

  <button class="self-end text-white text-xl" (click)="toggleMobileMenu()">
    <svg id="burger-close" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
      stroke="black" class="w-6 h-6 mr-10 md:mr-20 dark:stroke-off-white">
      <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
    </svg>
  </button>
  <app-dark-mode-toggle class="mx-auto my-4"></app-dark-mode-toggle>
  <ng-container *ngFor="let link of links">


    <div class="text-center my-4">
      <a *ngIf="!link.subLinks.length; else mobileLinkWithDropdown" class="mb-4 text-off-black dark:text-off-white"
        [routerLink]="link.routerLink">
        {{ link.name }}
      </a>
      <ng-template #mobileLinkWithDropdown>
        <div class="group ">
          <a class="cursor-pointer text-off-black dark:text-off-white" (click)="toggleMobileDropdown(link)">{{
            link.name
            }}</a>
          <div *ngIf="link.isOpen"
            class="bg-main-darker text-off-black mt-6 w-full rounded-lg bg-off-white-darker dark:bg-dark-mode-two">
            <a *ngFor="let sublink of link.subLinks" [routerLink]="sublink.routerLink"
              class="block py-4 dark:text-off-white">
              {{ sublink.name }}
            </a>
          </div>
        </div>
      </ng-template>
    </div>
  </ng-container>
  <div class="flex flex-col items-center px-10">
    <button class="btn-scnd py-2 w-full" routerLink="Login">
      Se Connecter
    </button>
    <button class="btn-main py-2 my-4 w-full" routerLink="Register">
      S'inscrire
    </button>
  </div>
</div>