<div class="flex flex-row py-2 px-10 md:px-20 justify-between items-center bg-off-white drop-shadow-md">
  <div class="flex flex-row items-center cursor-pointer" routerLink="">
    <img class="w-10 h-10" src="./../../../assets/ECC.png" alt="ECC" />
    <div class="hidden lg:flex items-center">
      <div class="bg-off-black w-[2px] h-8 mx-5"></div>
      <h2 class="text-lg font-semibold">Elite Council Consulting</h2>
    </div>
  </div>

  <div id="pc-navbar">
    <nav class="">
      <div class="flex items-center justify-between">
        <ul class="hidden  lg:flex space-x-4 lg:align-middle lg:justify-center items-center group">
          <li
            *ngFor="let link of links"
            class="relative group inline-block"
            (mouseenter)="link.isOpen = true"
            (mouseleave)="link.isOpen = false"
          >
            <a
              *ngIf="!link.subLinks.length"
              class="text-black hover:text-main transition-all mx-10"
              [routerLink]="link.routerLink"
            >
              {{ link.name }}
            </a>
            <a
              *ngIf="link.subLinks.length"
              class="text-black cursor-pointer  py-5 hover:text-main transition-all"
            >
              {{ link.name }}
            </a>
            <div
              *ngIf="link.isOpen && link.subLinks.length"
              class="group bg-off-white absolute text-white my-4 rounded-md transition-all"
              style="min-width: 300px; left: 50%; transform: translateX(-50%);"
            >
              <a
                *ngFor="let sublink of link.subLinks"
                [routerLink]="sublink.routerLink"
                class="text-off-black py-4 px-6 hover:bg-off-white-darker rounded-md group-hover:block"
              >
                {{ sublink.name }}
              </a>
            </div>
          </li>
          <button class="btn-main py-2" routerLink="Contact">
            Contactez-Nous
          </button>
        </ul>
        <button class="lg:hidden text-black" (click)="toggleMobileMenu()">
          <svg
            id="burger-button"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-6 h-6 z-40"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M3.75 9h16.5m-16.5 6.75h16.5"
            />
          </svg>
        </button>
      </div>
    </nav>
  </div>
</div>


<div
      id="phone-navbar"
      *ngIf="isMobileMenuOpen"
      class="z-50 fixed top-0 right-0 w-2/3 h-screen bg-off-white drop-shadow-lg text-off-black py-6 flex flex-col lg:hidden"
    >
      <button class="self-end text-white text-xl" (click)="toggleMobileMenu()">
        <svg
          id="burger-close"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-6 h-6 mr-10 md:mr-20"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M6 18L18 6M6 6l12 12"
          />
        </svg>
      </button>
      <ng-container *ngFor="let link of links" >
        <div class="text-center my-4">
          <a
            *ngIf="!link.subLinks.length; else mobileLinkWithDropdown"
            class="mb-4 text-off-black"
            [routerLink]="link.routerLink"
          >
            {{ link.name }}
          </a>
          <ng-template #mobileLinkWithDropdown>
            <div class="group ">
              <a class="cursor-pointer text-off-black " (click)="toggleMobileDropdown(link)">{{
                link.name
              }}</a>
              <div
                *ngIf="link.isOpen"
                class="bg-main-darker text-off-black mt-6 w-full rounded-lg bg-off-white-darker"
              >
                <a
                  *ngFor="let sublink of link.subLinks"
                  [routerLink]="sublink.routerLink"
                  class="block py-4"
                >
                  {{ sublink.name }}
                </a>
              </div>
            </div>
          </ng-template>
        </div>
      </ng-container>
      <button class="btn-main py-2 mx-10 my-4" routerLink="Contact">
          Contactez-Nous
      </button>
    </div>