<div class="py-10 px-20 bg-off-white dark:bg-dark-mode-two text-off-black dark:text-off-white h-full">

    <h1 class="text-center text-5xl font-black my-10 mb-10 text-off-black dark:text-off-white">
      Consulting Technologique
    </h1>
  
    <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
  
      <div class="group ring-2 ring-main shadow-xl rounded-lg p-10 hover:-translate-y-5 transition-all">
        <h2 class="text-main text-2xl font-bold transition-all mb-4 ">Analyse des Besoins Technologiques - Votre Parcours Personnalisé :</h2>
        <p class="text-off-black dark:text-off-white text-lg">
          Comprendre vos défis en profondeur pour des solutions taillées. Notre analyse minutieuse crée des
          recommandations adaptées.
        </p>
      </div>

      <div class="group ring-2 ring-main shadow-xl rounded-lg p-10 hover:-translate-y-5 transition-all">
        <h2 class="text-main text-2xl font-bold transition-all mb-4 ">Stratégie de Transformation Numérique - Façonnons l'Avenir</h2>
        <p class="text-off-black dark:text-off-white text-lg">
          Élaborons une stratégie adaptée, intégrant technologies nouvelles, automatisation et opportunités.
        </p>
      </div>

      <div class="group ring-2 ring-main shadow-xl rounded-lg p-10 hover:-translate-y-5 transition-all">
        <h2 class="text-main text-2xl font-bold transition-all mb-4 ">Gestion de Projet Avancée - Votre Vision Réalisée :</h2>
        <p class="text-off-black dark:text-off-white text-lg">
          Notre équipe expérimentée assure la réussite de vos projets technologiques, du planning à
l'exécution.
        </p>
      </div>

      <div class="group ring-2 ring-main shadow-xl rounded-lg p-10 hover:-translate-y-5 transition-all">
        <h2 class="text-main text-2xl font-bold transition-all mb-4 ">Évaluation de la Cybersécurité - Garantir la Confiance :</h2>
        <p class="text-off-black dark:text-off-white text-lg">
          Sécurité primordiale. Notre évaluation dévoile les vulnérabilités pour des stratégies de protection
solides.
        </p>
      </div>

      <div class="lg:flex lg:justify-center lg:col-span-2">
        <div class="group ring-2 ring-main shadow-xl rounded-lg p-10 hover:-translate-y-5 transition-all self-center">
          <h2 class="text-main text-2xl font-bold transition-all mb-4 ">Optimisation des Processus - L'Efficacité à l'Honneur :</h2>
          <p class="text-off-black dark:text-off-white text-lg">
            Analyse et améliorations pour une efficacité accrue, coûts réduits et qualité améliorée.
          </p>
        </div>
      </div>


  
    </div>
  </div>
  