<div class="flex flex-col lg:flex-row mx-20 lg:mx-40 my-24">
    <div id="text-cntr" class="w-full text-center lg:text-start lg:w-screen my-12 lg:my-auto mx-auto lg:pr-32">
        <h2 class="text-5xl font-bold">
            Bienvenue chez<br/><span class="text-main-dark hover:text-off-black transition-all delay-300 duration-300 text-center">Elite Council Consulting</span>
        </h2>
        <p class="font-medium my-4 text-xl">
            Façonnons l'Avenir à Partir des Fondations d'Hier
        </p>
        <p class="my-4">
            Plongez dans le monde de l'innovation avec Elite Council Consulting. Nous
            sculptons les avancées de demain sur les solides bases du passé. Notre
            engagement envers l'excellence et l'innovation guide chaque aspect de
            notre travail. En tant que partenaire de confiance, nous vous offrons une
            expertise en conseil technologique, développement logiciel, solutions
            matérielles et bien plus encore. Notre devise "We make tomorrow's
            innovation, yesterday's foundation." reflète notre dévouement à bâtir sur
            des bases solides pour créer les innovations de demain.
        </p>
        <button routerLink="Contact" class="btn-main">
            Contactez-Nous
        </button>
    </div>
    <div id="img-cntr" class="w-full my-auto">
        <div id="img-container">
            <img src="./../../../../assets/hero.png" class=" w-full" />
        </div>
    </div>
</div>