<div class="h-full w-full px-20 lg:px-40 bg-main py-20">
  <h1 class="text-center font-black text-5xl text-off-white mb-20">
    Notre équipe
  </h1>


  <div class="flex flex-col items-center">
    <div class="lg:min-w-[500px] max-w-[1200px] lg:p-6 border shadow-lg mb-4 flex flex-col lg:flex-row bg-off-white p-8" [@fadeInOut] *ngIf="cards.length > 0">
      <div class="lg:w-[700px] aspect-square lg:mr-8 overflow-hidden mx-auto lg:m-0 aspect-w-1 aspect-h-1">
        <img [src]="cards[currentCardIndex].img" alt="Card Image" class="object-cover object-center h-full w-full" />
      </div>
  
      <div class="flex flex-col justify-between w-full lg:w-[calc(100% - 300px)]">
        <span class="text-center lg:text-left py-5 px-2 lg:p-0">
          <h2 class="text-4xl font-black">{{ cards[currentCardIndex].title }}</h2>
          <h3 class="text-xl font-bold">{{ cards[currentCardIndex].position }}</h3>
          <div class="mt-2 lg:m-0 text-md lg:my-4 lg:max-h-52 font-medium overflow-y-auto scrollbar-custom">
            <p class="p-2">{{ cards[currentCardIndex].description }}</p>
          </div>
        </span>
        <div class="flex flex-col gap-2">
          <div id="divier" class="h-[1px] my-4 lg:m-0 w-full bg-main-light"></div>
          <div id="buttons-holder" class="flex lg:flex-row gap-4 justify-between">
            <div class="transition-all hover:bg-off-white-darker rounded-full p-6 w-6 h-6 relative" (click)="prevCard()">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5L8.25 12l7.5-7.5" />
              </svg>
            </div>
            <div class="transition-all hover:bg-off-white-darker rounded-full p-6 w-6 h-6 relative" (click)="nextCard()">
              <svg class="stroke-main" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 4.5l7.5 7.5-7.5 7.5" />
              </svg>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  


</div>