<div class="py-10 text-center">
  <h1 class="text-3xl font-bold  mb-8 mx-20 ">Pourquoi Choisir Elite Council Consulting?</h1>

  <div class="space-y-8  mx-auto px-20 ">
    <app-answers-card class="my-10"
      *ngFor="let card of cards; let i = index"
      [card]="card"
      [cardIndex]="i"
    ></app-answers-card>
  </div>

  <h2 class="text-xl mt-12 mx-20">
    Explorez notre univers pour transformer vos défis en opportunités et bâtir un futur florissant. Découvrez nos services,
    explorez nos projets passés et contactez-nous pour une aventure vers le succès.
  </h2>
</div>
