<div
    class="rounded-md ring-2 h-full ring-off-white-darker dark:ring-main-dark bg-off-white dark:bg-dark-mode-two p-10 my-4 flex flex-col lg:flex-row justify-start hover:drop-shadow-2xl dark:shadow-off-white shadow transition-all hover:-translate-y-5 text-center">
    <div id="text-container" class="lg:w-2/3 mx-auto my-auto">
        <h1 class="text-off-black dark:text-off-white lg:text-4xl lg:py-5 font-semibold text-2xl text-center">
            {{ content.title }}
        </h1>
        <p class="font-normal text-off-black dark:text-off-white lg:text-xl lg:py-5 text-lg text-center ">
            {{ content.description }}
        </p>
    </div>
</div>