<div class="w-full h-full bg-off-white flex flex-row py-20 px-56 mb-20">
    <div class="w-1/2">
        <h2 class="w-[500px] my-4 font-bold text-5xl text-off-gray">Bienvenue chez<br><span class="text-main-dark hover:text-off-black transition-all delay-300 duration-300">Elite Council Consulting</span></h2>
        <p class="w-[500px] my-4 text-3xl text-off-gray">Façonnons l'Avenir à Partir des Fondations d'Hier</p>
        <p class="w-[500px]  text-md my-8">Plongez dans le monde de l'innovation avec Elite Council Consulting. Nous sculptons les avancées
            de demain sur les solides bases du passé. Notre engagement envers l'excellence et l'innovation
            guide chaque aspect de notre travail. En tant que partenaire de confiance, nous vous offrons une
            expertise en conseil technologique, développement logiciel, solutions matérielles et bien plus
            encore. Notre devise "We make tomorrow's innovation, yesterday's foundation." reflète notre
            dévouement à bâtir sur des bases solides pour créer les innovations de demain.
        </p>
        <button routerLink="Contact" class="btn-main px-20">Contactez-Nous</button>
    </div>
    <div class="w-1/2">
        <div id="img-container" class="w-[400px] h-full mx-auto flex items-center">
            <img src="./../../../assets/hero.png">
        </div>
    </div>
</div>