<div class="rounded-md ring-2 ring-main-dark bg-main py-10 px-10 my-4 mx-10 flex flex-col lg:flex-row justify-start">
    <div id="image-container" class="w-1/2 m-auto  lg:w-1/2">
      <img
        class="mb-6 mx-auto float-left lg:float-none lg:w-1/2 lg:mb-0"
        [src]="content.img"
      />
    </div>
    <div id="text-container" class="flex flex-col text-center lg:text-left lg:w-2/3 m-10 lg:my-auto">
      <h1 class="text-off-black font-semibold text-2xl lg:py-5 lg:text-4xl text-center lg:text-left">
        {{ content.title }}
      </h1>
      <p class="font-normal text-off-black text-lg lg:text-xl lg:py-5 text-center lg:text-left">
        {{ content.description }}
      </p>
    </div>
  </div>
  