<div class="flex h-full py-20 bg-off-white dark:bg-dark-mode-two justify-center items-center text-off-black dark:text-off-white">
    <div class="bg-off-white dark:bg-dark-mode-two ring-1 ring-main p-8 rounded-lg shadow-md w-full max-w-md">
      <img src="./../../../assets/ECC.png" class="w-20 h-20 mx-auto my-10"/>
      <h2 class="text-3xl font-semibold mb-6 text-center">Login</h2>
      <form>
        <div class="mb-4">
          <label for="username" class="block text-sm font-medium text-off-gray dark:text-off-white">Username</label>
          <input type="text" id="username" name="username" class="mt-1 p-2 w-full border border-main rounded-md dark:bg-dark-mode-one">
        </div>
        <div class="mb-6">
          <label for="password" class="block text-sm font-medium text-off-gray dark:text-off-white">Password</label>
          <input type="password" id="password" name="password" class="mt-1 p-2 w-full border border-main rounded-md dark:bg-dark-mode-one">
        </div>
        <button type="submit" class="btn-main mx-auto w-full">Login</button>
      </form>
      <div class="flex flex-row justify-between text-sm mt-6">
        <h3>Vous n'avez pas de compte ?</h3>
        <a routerLink="/Register" class="text-main hover:text-main-dark">Créer un compte</a>
      </div>
    </div>
  </div>