<button (click)="toggleDarkMode()" class="relative flex items-center px-1 w-14 h-8 bg-gray-300 dark:bg-dark-mode-two rounded-full focus:outline-none dark:justify-start justify-end ">
    <div [class.left-0]="!(darkModeService.darkMode$ | async)" [class.right-0]="darkModeService.darkMode$ | async" class="w-6 h-6 bg-white dark:bg-dark-mode-one rounded-full shadow-md transition-transform transform inline-flex">
      <div class="hidden dark:block">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-4 h-4 m-1 stroke-off-white">
            <path stroke-linecap="round" stroke-linejoin="round" d="M21.752 15.002A9.718 9.718 0 0118 15.75c-5.385 0-9.75-4.365-9.75-9.75 0-1.33.266-2.597.748-3.752A9.753 9.753 0 003 11.25C3 16.635 7.365 21 12.75 21a9.753 9.753 0 009.002-5.998z" />
        </svg>
      </div>
      <div class="dark:hidden block">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-4 h-4 m-1 ">
            <path stroke-linecap="round" stroke-linejoin="round" d="M12 3v2.25m6.364.386l-1.591 1.591M21 12h-2.25m-.386 6.364l-1.591-1.591M12 18.75V21m-4.773-4.227l-1.591 1.591M5.25 12H3m4.227-4.773L5.636 5.636M15.75 12a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0z" />
        </svg>
      </div>
    </div>
</button>
  