<div class="flex justify-center items-center h-screen bg-off-white dark:bg-dark-mode-one" >
    <div class="bg-off-white dark:bg-dark-mode-two p-20 rounded-lg max-w-3xl text-off-black dark:text-off-white">
      <h1 class="text-5xl font-extrabold mb-8 animate-fade-in text-center">Choisir Elite Council Consulting c'est :</h1>
      <ul class="list-disc p-6 space-y-2">
        <li class="animate-fade-in">Une approche sur mesure répondant à vos besoins et objectifs.</li>
        <li class="animate-fade-in">L'expertise d'une équipe hautement qualifiée.</li>
        <li class="animate-fade-in">Des solutions novatrices pour surpasser la concurrence.</li>
        <li class="animate-fade-in">L'utilisation optimale des technologies pour améliorer efficacité et productivité.</li>
        <li class="animate-fade-in">Une stratégie de transformation numérique planifiée et exécutée.</li>
        <li class="animate-fade-in">Renforcement de la sécurité et des données.</li>
        <li class="animate-fade-in">Processus optimisés pour une croissance durable.</li>
      </ul>
      <p class=" animate-fade-in text-xl font-bold mt-10">Elite Council Consulting, votre partenaire de confiance dans votre quête d'excellence
        technologique et de succès. Exploitez le potentiel des nouvelles technologies pour prospérer.</p>
    </div>
  </div>
  