<div class="py-10 px-20">

    <div class="bg-white p-6 rounded-lg shadow-md mb-6">
      <p class="text-lg font-semibold mb-4">Choisir Elite Council Consulting c'est :</p>
      <ul class="list-disc ml-6 space-y-2">
        <li>Une approche sur mesure répondant à vos besoins et objectifs.</li>
        <li>L'expertise d'une équipe hautement qualifiée.</li>
        <li>Des solutions novatrices pour surpasser la concurrence.</li>
        <li>L'utilisation optimale des technologies pour améliorer efficacité et productivité.</li>
        <li>Une stratégie de transformation numérique planifiée et exécutée.</li>
        <li>Renforcement de la sécurité et des données.</li>
        <li>Processus optimisés pour une croissance durable.</li>
      </ul>
    </div>
  
    <p class="text-base mb-6">
      Elite Council Consulting, votre partenaire de confiance dans votre quête d'excellence technologique et de succès.
      Exploitez le potentiel des nouvelles technologies pour prospérer.
    </p>
  
    <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
  
      <div class="bg-gray-200 p-4 rounded-md">
        <span class="font-semibold text-main text-xl">Solutions Logicielles - </span><br>
        <span class="font-semibold">Créez l'Avenir Numérique</span>
        <ul class="list-disc ml-6 space-y-2">
          <li><i>Le développement logiciel est clé pour la compétitivité</i></li>
          <li><i>Des solutions sur mesure, de la conception à l'implémentation.</i></li>
        </ul>
      </div>
  
      <div class="bg-gray-200 p-4 rounded-md">
        <span class="font-semibold text-main text-xl">Téléphonie IP </span><br>
        <span class="font-semibold">Sécurisée et Innovante - Connectivité Révolutionnée</span>
        <ul class="list-disc ml-6 space-y-2">
          <li><i>Redéfinissez la communication avec notre solution moderne et sécurisée</i></li>
          <li><i>Restez connecté, flexible et protégé</i></li>
        </ul>
      </div>
  
      <div class="bg-gray-200 p-4 rounded-md">
        <span class="font-semibold text-main text-xl">Téléphonie IP </span><br>
        <span class="font-semibold">Gestion Hôtelière Réinventée - Excellence d'Hospitalité :</span>
        <ul class="list-disc ml-6 space-y-2">
          <li><i>Transformez la gestion hôtelière avec notre système complet</i></li>
          <li><i>Réservations, chambres, tout en un</i></li>
        </ul>
      </div>
  
      <div class="bg-gray-200 p-4 rounded-md">
        <span class="font-semibold text-main text-xl">Learning Management System (LMS) Intelligent </span><br>
        <span class="font-semibold">Éduquez avec IA :</span>
        <ul class="list-disc ml-6 space-y-2">
          <li><i>L'IA personnalise les parcours d'apprentissage</i></li>
          <li><i>L'apprentissage évolue avec vos étudiants</i></li>
        </ul>
      </div>
  
      <div class="bg-gray-200 p-4 rounded-md">
        <span class="font-semibold text-main text-xl">Gestion RH Connectée avec IoT</span><br>
        <span class="font-semibold">Modernité RH</span>
        <ul class="list-disc ml-6 space-y-2">
          <li><i>Réinventez la gestion RH avec notre application</i></li>
          <li><i>Suivi, tâches, présence, tout devient fluide</i></li>
        </ul>
      </div>
  
      <div class="bg-gray-200 p-4 rounded-md">
        <span class="font-semibold text-main text-xl">SEO Dynamique pour Visibilité en Ligne</span><br>
        <span class="font-semibold">Rayonnez en Ligne:</span>
        <ul class="list-disc ml-6 space-y-2">
          <li><i>Dominez en ligne avec notre solution SEO dynamique</i></li>
          <li><i>Plus de trafic, plus de visibilité</i></li>
        </ul>
      </div>
  
      <div class="bg-gray-200 p-4 rounded-md">
        <span class="font-semibold text-main text-xl">Surveillance Complète avec Monitoring Humain</span><br>
        <span class="font-semibold">Sécurité Totale:</span>
        <ul class="list-disc ml-6 space-y-2">
          <li><i>Sécurité renforcée avec surveillance humaine et archivage vidéo sécurisé</i></li>
        </ul>
      </div>
  
      <div class="bg-gray-200 p-4 rounded-md">
        <span class="font-semibold text-main text-xl">Réseau Interne Optimisé</span><br>
        <span class="font-semibold">Maîtrisez vos Connexions :</span>
        <ul class="list-disc ml-6 space-y-2">
          <li><i>Contrôlez votre réseau interne avec précision grâce à notre solution de mappage et monitoring</i></li>
        </ul>
      </div>
  
      <div class="bg-gray-200 p-4 rounded-md">
        <span class="font-semibold text-main text-xl">Collecte et Analyse de Données Intelligente</span><br>
        <span class="font-semibold">Valeur des Données :</span>
        <ul class="list-disc ml-6 space-y-2">
          <li><i>Maximisez vos données avec notre plateforme</i></li>
          <li><i>Collecte, analyse et visualisation en temps réel</i></li>
        </ul>
      </div>
  
      <div class="bg-gray-200 p-4 rounded-md">
        <span class="font-semibold text-main text-xl">Business Intelligence et Analyse de Données</span><br>
        <span class="font-semibold">Vision Claire des Données</span>
        <ul class="list-disc ml-6 space-y-2">
          <li><i>Révolutionnez l'analyse de données avec notre solution</i></li>
        </ul>
      </div>
  
    </div>
  </div>
  
<div class="p-10">
    <app-solutions-logicielles></app-solutions-logicielles>
    <app-solutions-materielles></app-solutions-materielles>
</div>